<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/login.css">
	<title>Algo</title>
</head>
<body>
 	<div class="container">
 		<h1 class="page-title">Escrever algo</h1>
 		<div id="internal-container">
 			<div class="container-head">
 				<img src="https://www.rhid.rep.br/img/logo-rhid-color.png" alt="RH iD" width="400">
 				<h1>Login</h1>
 			</div>
 			<div class="conteudo">
	 			<form>
	 				<strong><label for="email">Email:</label></strong>
	  				<input type="email" id="email" name="email" size="40">
					<div class="pwd">
						<strong><label for="senha">Senha:</label></strong>
	  					<input type="password" id="senha" name="senha">			
	  				</div>
	  				<div class="botao">	
	  					<button id="entrar">Entrar</button> 				
 					</div>
 				</form>
 			</div>	
 		</div>
 	</div>
</body>
</html>