<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Algo</title>
	<link rel="stylesheet" type="text/css" href="css/logout.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
	<div class="container">
		<h1>Logout</h1>
		<div class="internal-container">
			<div class="conteudo">
				<img src="https://www.rhid.rep.br/img/logo-rhid-color.png" alt="RH-iD Logo" width="400">
				<h1>Você fez logout!</h1>
				<div class="login-again"> 
					<a href="login.html">Entrar novamente</a>
					<i class="material-icons">login</i>
				</div>	
			</div>	
		</div>
	</div>
</body>
</html>
