body{
	background-color: teal;
}

#internal-container{
	background-color: rgb(210, 210, 210);
	height: 570px;
	width: 500px;
	position: absolute;
	left: 35%;
	top: 10%;
	border: solid;

}

#conteudo{
	margin-left: 10px;
}

.titulo{
	text-align: center;
}

.page-title{
	font-size: 300%;
	margin-left: 10px;
}

#sistema{
	display: flex;
	
}

#adicionar{
	height: 25px;
	margin-top: 18px;
	margin-left: 5px;
	background-color: lightgreen;
}

#remover{
	width: 24px;
	height: 25px;
	margin-top: 18px;
	margin-left: 5px;
	background-color: #EE2626;
}

.salvar{
	float: right;
	margin-right: 10px;
	margin-top: 15px;
}